/* Murales español */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.section {
  width: 100%;
  background: white;
  box-sizing: border-box;
}
.main_container5,
.main_container1,
.main_container3,
.main_container7,
.main_container6,
.main_container_restaurants,
.restaurants {
  padding: 0px 5px;
  background-color: white;
}
/*----------------------------- -------------------header mobile --------------------------------- */
.main_header {
  background: #1e0b04;
}
.topnav {
  position: relative;
}
.topnav .logo-restaurant {
  /* width: 30%; */
  padding: 10px 5px;
}
.main_header_information {
  font-family: "Bodoni Moda", serif;
  margin: 0;
  padding: 0%;
  text-align: center;
}
.main_header_information .main_header_alert {
  font-size: 10px;
  font-family: "Open Sans";
  color: white;
}
.main_header_information img {
  vertical-align: middle;
}

.topnav #myLinks {
  display: none;
}
.topnav #myLinks a:hover {
  color: #8e9180;
}
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 11%;
}
.icon span {
  display: block;
  margin-bottom: 5px;
  width: 20px;
  height: 2px;
  position: relative;
  background: #cdcdcd;
}
#myLinksNav {
  display: none;
}
#myLinksNav a:hover {
  color: #db742f;
}
/* header desktop */
@media only screen and (min-width: 1200px) {
  .topnav a.icon,
  .myLinks a {
    display: none;
  }
  .main_header {
    height: 80px;
  }
  .header-section {
    margin: auto;
    width: 100%;
    max-width: 1500px;
    height: 80px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-content: center;
  }
  .main_header_information {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  #myLinksNav {
    display: block;
    grid-column: 2 / 3;
    grid-row: 2;
  }
  #myLinksNav {
    text-align: center;
    word-spacing: 5rem;
    margin: auto;
  }
  #myLinksNav a:nth-child(4) {
    word-spacing: 0rem;
  }
  #myLinksNav a {
    color: white;
    text-decoration: none;
  }

  .topnav {
    height: 80px;
    grid-column: 1 / 2;
    grid-row: 1/3;
    display: flex;
    justify-content: flex-start;
    padding: 0rem 10px;
  }
  .topnav .logo-restaurant {
    width: auto;
    padding: 10px 5px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1200px) {
  #myLinksNav a:nth-child(4) {
    word-spacing: 0rem;
  }
  .section {
    width: 100%;
    /* background: green; */
    box-sizing: border-box;
  }
  .topnav a.icon {
    display: none;
  }
  .main_header {
    height: 80px;
  }
  .header-section {
    margin: auto;
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 30% 50% 20%;
    justify-content: center;
  }
  .topnav .logo-restaurant {
    width: auto;
    padding: 10px 5px;
  }
  .main_header_information .main_header_alert {
    font-size: 0.7rem;
  }
  #myLinksNav {
    display: block;
    grid-column: 2 / 3;
    grid-row: 2;
  }
  #myLinksNav {
    text-align: center;
    word-spacing: 1.7rem;
  }
  #myLinksNav a:nth-child(4) {
    word-spacing: 0rem;
  }
  #myLinksNav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }

  .topnav {
    height: 100px;
    grid-column: 1 / 2;
    grid-row: 1/3;
    /* text-align: start; */
  }
}
/*----------------------------------- fin de header -------------------------------*/

/* section 0 mobile */
.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main_container video {
  width: 100%;
}
.overlay {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main_container h1 {
  font-size: 35px;
  font-family: "BodoniModa10pt";
  color: rgb(255, 255, 255);
  font-style: italic;
  line-height: 1.077;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.9);
}
.main_container h2 {
  font-size: 35px;
  font-family: "BodoniModa10pt";
  color: rgb(255, 255, 255);
  font-style: italic;
  line-height: 0.933;
  text-transform: uppercase;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.9);
}
@media only screen and (min-width: 767px) and (max-width: 1200px) {
  .main_container h1 {
    font-size: 50px;
  }
  .main_container h2 {
    font-size: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  .main_container h1 {
    font-size: 50px;
  }
  .main_container h2 {
    font-size: 70px;
  }
}
/* end section  */

/* section 1 */
.main_taste_plate {
  font-family: open;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_taste_plate1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main_taste_plate1 h2 {
  font-size: 40px;
  font-family: "Bodoni Moda", serif;
  color: rgb(33, 12, 5);
  font-style: italic;
  line-height: 1.15;

  color: #000000;
  font-variant: small-caps;
}
.main_taste_plate1 .text-taste1 {
  padding-top: 1.5rem;
  font-size: 18px;
  font-family: "Open Sans";
  line-height: 1.556;
  color: #252525;

  width: 100%;
  max-width: 630px;
  padding-bottom: 0.5rem;
}
.main_taste_plate1 .text-taste {
  padding-bottom: 1.5rem;
  font-size: 18px;
  font-family: "Open Sans";
  line-height: 1.556;
  color: #252525;

  width: 100%;
  max-width: 630px;
}
.main_taste_plate1 .button {
  display: flex;
  padding: 5px 3px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #dd7c3b;
  border: 2px solid #db742f;
}
.button:hover {
  cursor: pointer;
}
.main_taste_plate1 .button span {
  padding-right: 1px;
  font-weight: bolder;
}
.main_taste_plate2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.main_taste_plate2_icons {
  row-gap: 10px;
  column-gap: 10px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(9, 1fr);
}
.main_taste_plate2_icons .first {
  grid-row: 1;
  grid-column: auto/span 9;
  text-align: center;
}
.main_taste_plate2_icons .first img {
  max-height: 520px;
  max-width: 600px;
}
.main_taste_plate2_icons img {
  width: 100%;
}
.main_taste_plate2_icons .first img {
  width: 100%;
}
.main_taste_plate2_icons .trip {
  grid-row: 2;
  grid-column: 2/3;
}
.main_taste_plate2_icons .second {
  grid-row: 2;
  grid-column: 3/4;
}
.main_taste_plate2_icons .third {
  grid-row: 2;
  grid-column: 4/5;
}
.main_taste_plate2_icons .fourth {
  margin: 0px 45%;
  grid-row: 2;
  grid-column: 5/6;
}
.main_taste_plate2_icons .fourth .line {
  width: 1px; /* Line width */
  background-color: #d1cf5a; /* Line color */
  height: 70%; /* Override in-line if you want specific height. */
}
.main_taste_plate2_icons .five {
  grid-row: 2;
  grid-column: 6/7;
}
.main_taste_plate2_icons .five img,
.main_taste_plate2_icons .sixth img {
  width: 100%;
  max-width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main_taste_plate2_icons .sixth {
  grid-row: 2;
  grid-column: 7/8;
}
/* desktop */
@media only screen and (min-width: 1200px) {
  .main_taste_plate {
    padding-top: 4rem;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    background-color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    padding-bottom: 3rem;
  }

  .main_taste_plate2_icons {
    width: 100%;
    column-gap: 13px;
  }
  .main_taste_plate2_icons .first img {
    max-height: 520px;
    /* max-width: 500px; */
  }
  .main_taste_plate2_icons .trip img {
    min-height: 51px;
    height: 100%;
    max-height: 70px;
  }
  .main_taste_plate2 {
    grid-row: 1;
    grid-column: 2/3;
  }
  .main_taste_plate1 {
    grid-column: 1/2;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 1.4rem;
  }
  .main_taste_plate1 .button {
    max-width: 100%;
    font-size: 1rem;
  }
}
/* end desktop */
/* ipad y ipad pro */
@media only screen and (min-width: 767px) and (max-width: 1200px) {
  .main_taste_plate {
    padding-top: 7rem;
    width: 100%;
    margin: auto;
    background-color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    padding-bottom: 3rem;
  }
  .main_taste_plate1 .text-taste1 {
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 1rem;
  }
  .main_taste_plate1 .text-taste {
    padding-bottom: 3rem;
    width: 100%;
    font-size: 1rem;
  }
  .main_taste_plate2 {
    grid-row: 1;
    width: 100%;

    grid-column: 2/3;
  }
  .main_taste_plate2_icons {
    width: 100%;
  }
  .main_taste_plate2_icons img {
    width: 100%;
  }
  .main_taste_plate2_icons .five img,
  .main_taste_plate2_icons .sixth img {
    width: 100%;
    max-width: 45px;
  }
  .main_taste_plate1 {
    grid-column: 1/2;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 1.4rem;
  }
  .main_taste_plate1 .button {
    max-width: 100%;
    font-size: 1rem;
  }
}
/* end section 1 */

/* --------------------------------------------------section 2------------------------ */
.main_container2 {
  filter: brightness(90%);
  background-image: url("imagenes/section3/salmon-glaseado.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  text-align: center;
}
.main_container2 .Title-paralax1 {
  font-size: 40px;
  font-family: "BodoniModa10pt";
  color: rgb(255, 255, 255);
  font-style: italic;
  line-height: 1.216;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.9);
}
.main_container2 .Title-paralax2 {
  text-align: center;
  font-size: 40px;
  font-family: "BodoniModa10pt";
  color: rgb(255, 255, 255);
  font-style: italic;
  line-height: 1.216;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.9);
}
/* desktop */
@media only screen and (min-width: 1200px) {
  .main_container2 {
    filter: brightness(90%);
    background-image: url("imagenes/section3/salmon-glaseado.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
  }
  .main_container2 .Title-paralax1 {
    font-size: 80px;
  }
  .main_container2 .Title-paralax2 {
    font-size: 80px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1200px) {
  .main_container2 {
    filter: brightness(90%);
  }
  .main_container2 .Title {
    font-size: 94px;
  }
}

/*------------------------------- end section 2 --------------------------*/

/*--------------------------------- section 3 ------------------------------*/
.main_container_menu {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main_container_menu1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
.main_menu_header img {
  width: 100%;
}
.main_menu_text h2 {
  font-size: 50px;
  font-family: "Cormorant Regular";
  color: rgb(1, 1, 1);
  font-weight: 100;
}
.main_menu_text p:nth-child(2) {
  font-size: 24.408px;
  font-family: "Open Sans";
  color: rgb(114, 99, 59);

  padding-bottom: 20px;
  font-weight: 200;
}
.main_menu_text p:nth-child(3) {
  font-size: 18px;
  font-family: "Open Sans";
  color: rgb(71, 71, 71);
  line-height: 1.556;

  width: 100%;
  max-width: 600px;
}
.main_menu_buttons {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_menu_buttons_gap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  justify-content: center;
}
.button-menu {
  font-size: medium;
  width: 100%;
  color: #db742f;
  padding: 5px 5px;
  text-align: center;
  border: 2px solid #db742f;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

.button-menu:hover {
  cursor: pointer;
  color: white;
  background-color: #db742f;
}

.main_menu_photos {
  width: 100%;
  padding: 2rem 0.5rem 0rem 0.5rem;
}
.main_menu_photos_gap {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px 10px;
  align-content: center;
}
.main_menu_photos_gap img {
  max-width: 100%;
}
@media only screen and (max-width: 280px) {
  .button-menu {
    font-size: small;
  }
}
/* desktop */
@media only screen and (min-width: 1200px) {
  .main_container_menu {
    padding: 5% 0rem;
    width: 100%;
    max-width: 1500px;
    align-items: center;
    margin: auto;
    background-color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
  }
  .main_menu_text p:nth-child(3) {
    margin: auto;
    font-size: 20px;
  }

  .main_container_menu1 {
    grid-row: 1;
    grid-column: 2/3;
    width: 100%;
  }
  .main_container_menu2 {
    grid-column: 1/2;
    width: 100%;
  }
  .main_menu_photos {
    width: 100%;
    padding: 0rem 0.5rem 0rem 0.5rem;
  }

  .main_menu_header.headrimg {
    width: 80%;
  }
}
/* end desktop */
/* ipad y ipod  */
@media only screen and (min-width: 767px) and (max-width: 1200px) {
  .main_container_menu {
    padding: 5% 0rem;
    width: 100%;
    align-items: center;
    margin: auto;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
  }
  .main_container_menu1 {
    grid-row: 1;
    grid-column: 2/3;
    width: 100%;
  }
  .main_container_menu2 {
    grid-column: 1/2;
    width: 100%;
  }
  .main_menu_header.headrimg {
    width: 100%;
  }
  .main_menu_photos {
    width: 100%;
    padding: 0rem 0.5rem 0rem 0.5rem;
  }
}
/* end ipad y ipod */
/*-------------------------------------- end section3 ---------------------------*/

/*------------------------------------------ section4 --------------------------------------*/
.main_container_location_grid {
  background-color: #1e0b04;
  color: white;
}
.location {
  padding: 2rem 0.5rem 2rem 0.5rem;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.location h1 {
  font-size: 40px;
  font-family: "Cormorant Regular";
  color: #db742f;
  font-weight: 100;
  font-variant: small-caps;
  font-style: italic;
}
.location h4 {
  font-size: 24.408px;
  font-family: "Open Sans";
  color: #db742f;
  margin-bottom: 10px;
}
.location h5 {
  font-size: 18px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  margin-bottom: 0px;
  margin-top: 5px;
}
.location ul {
  padding-inline-start: 30px;
  font-size: 18px;
  font-family: "Avenir";
  color: rgb(255, 255, 255);
  list-style: none;
  margin: 0px auto 18px;
}
.location ul:nth-child(5) li:nth-child(1) {
  list-style: square;
  font-weight: bold;
}
.location ul:nth-child(5) li:nth-child(5) {
  list-style: square;
}
.location ul li.phone-icon a {
  color: white;
}
.location ul li.phone-icon {
  vertical-align: middle;
  list-style-image: url("imagenes/phone.icon.png");
}
.location ul li.location-icon {
  list-style-image: url("imagenes/localization.icon.png");
}

@media only screen and (max-width: 280px) {
  .location {
    padding: 3rem 0.5rem 3rem 1.8rem;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* desktop */
@media only screen and (min-width: 1200px) {
  .main_container_location_grid {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
  }
  .location {
    padding: 2rem 0rem 2rem 4rem;
  }
}

/* end desktop */
/* ipad y ipod */
@media only screen and (min-width: 767px) and (max-width: 1200px) {
  .main_container_location_grid {
    display: grid;
    grid-template-columns: auto 65%;
  }

  .location_map {
    height: auto;
    background-position: bottom;
    background-size: cover;
  }
}
/* end ipad pro y ipod */
/*---------------------------------------- end section4 ------------------------------------*/
/*------------------------------------------ section 5 ----------------------------------------------*/
.main-comments {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.comments h1 {
  font-family: "Cormorant Regular";
  text-align: center;
  font-weight: 100;
  color: #000000;
}
.comments h3 {
  padding-bottom: 55px;
  text-align: center;
  font-weight: 200;
  font-size: 20px;
  font-family: "Open Sans";
  color: #8e7341;
}

.item-comments h3 {
  font-size: 18px;
  font-family: "Open Sans";
  color: rgb(37, 37, 37);
  font-weight: bold;
  text-align: center;
}
.line-reviews {
  display: flex;
  justify-content: center;
}
ul.circleul li {
  display: inline;
}
ul.circleul {
  padding-inline-start: 0px;
}
.circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #00aa6c;
}

ul.circleu2 li {
  display: inline;
}
ul.circleu2 {
  text-align: center;
  margin-bottom: 10px;
  padding-inline-start: 0px;
}
.circle1 {
  display: inline-block;
  width: 12px;
  height: 12px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #00aa6c;
}
.circle-active {
  display: inline-block;

  width: 8px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid#00aa6c;
  background: white;
  box-sizing: border-box;
}
.line-reviews,
.reviews-text {
  padding-bottom: 10px;
}
.reviews-text {
  width: 100%;
  font-size: 18px;

  text-align: center;
}
.reviews-text-date {
  text-align: center;
  padding: 1.5rem 0rem 1.5rem 1rem;
}
.reviews-longbar {
  font-weight: bolder;
  font-size: xx-small;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews-longbar ul {
  padding: 0px 5px 0px 5px;
}
.tripadvisor {
  padding-left: 15px;
  width: 85px;
}
.tripadvisor img {
  width: 100%;
}

.line-reviews h4 {
  padding-left: 5px;
}
.review-footer {
  padding: 2rem;
  margin: auto;
  /* width: 60%; */
}
@media only screen and (min-width: 767px) and (max-width: 1200px) {
  .item-comments {
    width: 100%;
    margin: auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .review-footer {
    width: 60%;
  }
}
@media only screen and (min-width: 1200px) {
  .item-comments h3 {
    text-align: start;
  }

  .main-comments {
    margin: auto;
    width: 40%;
  }
  .comments h1 {
    font-family: "Bodoni Moda", serif;
    text-align: center;
    color: #2f1406;
  }
  .comments h3 {
    padding-bottom: 55px;
    text-align: center;
    color: #b08944;
  }
  .comments-slider {
    width: 95%;
    margin: auto;
    text-align: center;
  }
  .comments-slider h4 {
    padding-bottom: 10px;
    padding-top: 8px;
  }
  .comments-line {
    padding-bottom: 10px;
    justify-content: center;
    display: flex;
  }
  .line-reviews {
    display: flex;
  }
  ul.circleul li {
    display: inline;
  }
  ul.circleul {
    padding-inline-start: 0px;
  }
  .circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #00aa6c;
  }
  .circle-active {
    display: inline-block;
    width: 12px;
    height: 12px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid#00aa6c;
    background: white;
    box-sizing: border-box;
  }
  ul.circleu2 {
    text-align: start;
  }
  .line-reviews,
  .reviews-text {
    justify-content: start;
    text-align: start;
    padding-bottom: 10px;
  }
  .reviews-text {
    width: 100%;
    max-width: 600px;
  }
  .comments-slider h5 {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .reviews-text-date {
    text-align: start;
    padding: 1.5rem 0rem 1.5rem 0rem;
  }
  .reviews-longbar {
    font-weight: bolder;
    padding: 0rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .reviews-longbar ul {
    padding: 0px 5px 0px 5px;
  }
  .tripadvisor {
    padding-left: 15px;
    width: 145px;
  }
  .tripadvisor img {
    width: 100%;
  }

  .line-reviews h4 {
    padding-left: 5px;
  }

  .review-footer {
    width: 60%;
  }
}
/*------------------------------------------------------ end section5 --------------------------------*/

/*------------------------------------------------ section6 ---------------------------------------------*/
.main_container6-desktop {
  display: none;
  max-width: 800px;
  display: none;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 15px;
}
.platillosPhone {
  width: 95%;
  margin: auto;
}
.contenedor {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
}
.footer-img {
  position: absolute;
  width: 100%;
  color: white;
  font-family: "Bodoni Moda", serif;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
}
/* desktop */
@media only screen and (min-width: 1200px) {
  .main_container6 .main_container6-mobile {
    display: none !important;
  }
  .main_container6-desktop {
    width: 100%;
    max-width: 1400px;
    display: block;
    margin: auto;
  }
  .main_section6-grid {
    box-sizing: border-box;
    padding: 1rem 0rem 3rem;
    /* max-width: 800px; */
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
    margin: auto;
  }
  .main_section6-grid img {
    width: 100%;
  }
}
/* end desktop */
/* ipad pro y ipod */
@media only screen and (min-width: 767px) and (max-width: 1200px) {
  .main_container6-mobile {
    display: block;
  }
}
/* end ipad y ipod */
/*------------------------------------------------------ end section 6-------------------------------- */

/*----------------------------------------------- section 7 ----------------------------*/
.main_container_restaurants {
  background-color: white;
}
.meetrest {
  font-family: "Bodoni Moda", serif;
  display: grid;
  grid-template-columns: auto auto auto;
  /* max-width: 380px; */
  align-items: center;
  margin: auto;
  box-sizing: border-box;
}
.meetrest span {
  padding: 0rem 5px;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
}
.meetrest img {
  width: 100%;
}
.itemrestaurant {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0rem;
  box-sizing: border-box;
  /* margin: auto; */
  height: 160px;
}
.itemrestaurant img {
  height: auto;
  max-width: 150px;
}
/*-------------------------------------------------- backsection -----------------------------*/
.main_container_back {
  color: #db742f;
  background-color: #fcf7e5;
  font-family: "Open Sans", sans-serif;
  height: 30px;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 5px;
  justify-items: center;
}
.main_container_back:hover {
  font-weight: bolder;
  cursor: pointer;
  color: #db742f;
  background-color: #fcf7e5;
}
.main_container_footer {
  padding: 15px 0px;
  height: 480px;
  color: white;
  background-color: black;
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto auto;
  align-items: center;
}

.divitems1 {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  row-gap: 10px;
}
.divitems1 .policy {
  color: #7c8a01;
}
.divitems2 {
  padding: 1rem 0rem;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  justify-items: center;
  align-items: center;
  row-gap: 10px;
}
.divReservation {
  color: #7c8a01;
  text-align: center;
  border: 3px solid #7c8a01;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.divitems3 {
  text-align: center;
  padding: 1rem 0rem;

  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-content: center;
  justify-items: center;
  align-items: baseline;
  row-gap: 10px;
}
.divitems1 img:nth-child(2) {
  max-width: 75px;
}
.itemLightBox:hover {
  cursor: pointer;
}
.divReservation img {
  width: 50%;
  vertical-align: middle;
}

.modal-bg {
  z-index: 6;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visbility 0s, opacity 0.5s;
  text-align: end;
}
.modal-close {
  cursor: pointer;
}
.bg-active {
  visibility: visible;
  opacity: 1;
}
.modal {
  width: 50%;
}
/* desktop */
@media only screen and (min-width: 1200px) {
  .meetrest,
  .main_container_restaurants {
    margin: auto;
    width: 80%;
  }
  .itemrestaurant {
    padding: 1.5rem 0rem;
    box-sizing: border-box;
    margin: auto;
    width: 60%;
    height: 130px;
  }
  .main_container_footer {
    height: auto;
    padding: 1rem;
    color: white;
    margin: auto;
    font-family: "Open Sans", sans-serif;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    box-sizing: border-box;
    align-items: center;
  }
  .itemrestaurant img {
    height: auto;
    max-width: 150px;
  }
  .itemrestaurant {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .divitems1 img:nth-child(2) {
    max-width: 65px;
  }
  .mainblack {
    background-color: black;
    margin: auto;
  }
}
/* end desktop */
@media only screen and (min-width: 767px) and (max-width: 1200px) {
  .meetrest {
    font-family: "Bodoni Moda", serif;
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 680px;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
  }
  .main_container_footer {
    height: auto;
    padding: 0.5rem;
    color: white;
    margin: auto;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    box-sizing: border-box;
    align-items: center;
  }
  .itemrestaurant img {
    max-width: 150px;
  }
  .itemrestaurant {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .divitems1 img:nth-child(2) {
    max-width: 65px;
  }
  .mainblack {
    background-color: black;
    margin: auto;
  }
}
/*----------------------------- end section 7 ------------------------------------*/

/*--------------------------------------- section8 ---------------------------------*/
.sisteCarrousel-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
.sisteCarrousel-line span {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 26px;
  font-weight: 100;
  font-family: "Cormorant Regular";
  color: rgb(0, 0, 0);
  font-variant: small-caps;
}
.sisteCarrousel-line .item2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-sister {
  margin: auto;
  max-width: 130px;
  max-height: 135px;
}
.sisal-img,
.Trattoria-img {
  max-width: 200px;
  max-height: 145px;
}
.sisteCarrousel-line img {
  width: 100%;
}
.sisteCarrousel-line .item1 {
  display: flex;
  align-items: center;
  width: 16%;
}
@media only screen and (min-width: 1200px) {
  .sisteCarrousel-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }
  .sisteCarrousel {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: auto;
    width: 70%;
  }
  .sisteCarrousel-line span {
    padding-left: 15px;
    padding-right: 15px;
    font-style: italic;
    font-size: 36px;
    font-family: "BodoniModa10pt";
  }
  .sisteCarrousel-line img {
    /* height: 3px; */
    width: 100%;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1200px) {
  .sisteCarrousel-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }
  .sisteCarrousel-line span {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 36px;
  }
  .sisteCarrousel-line img {
    width: 100%;
  }
  .sisteCarrousel-line .item1 {
    width: 20%;
  }
  .sisteCarrousel {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: auto;
    width: 95%;
  }
}
/* end section8 */

/* -------------------------------------------Footer 9---------------------------------------- */
.footer {
  color: white;
  background-color: #1e0b04;
}
.footer-section1 {
  /* padding: 1rem; */
  padding-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-content: center;
}
.footer-section1 .img-section1 {
  text-align: center;
  width: 90%;
}
.footer-section1 img {
  width: 100%;
}
.section1-text {
  text-align: center;
  font-size: 0.5rem;
  grid-column: auto/span 2;
}
.section1-text span:nth-child(2) {
  color: #db742f;
  font-weight: bold;
}
.footer-section2 {
  padding: 1rem 0px 1rem 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.opentable {
  border: 1px solid #db742f;
  color: #db742f;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.opentable span {
  padding-right: 3px;
  font-size: 13px;
}
.opentable img {
  width: 8rem;
}
.media-grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
}
.media-text {
  grid-column: auto/span 2;
}
.footer-section3 {
  padding: 1rem 0rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  justify-items: center;
}
.section3-text {
  font-size: 0.9rem;
  text-align: center;
  grid-column: auto/span 2;
}
.footer-section3 .img-section3 {
  max-width: 100%;
}
.img-section3 img {
  width: 84px;
  max-height: 50px;
}
@media only screen and (min-width: 767px) and (max-width: 1200px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-section1 {
    padding: 0rem 1rem 0rem 1rem;
    row-gap: 10px;
  }
  .footer-section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0rem 2rem 0rem;
    box-sizing: border-box;
  }
  .footer-section3 {
    padding-left: 15px;
  }
  .opentable img {
    width: 45%;
  }
  .opentable span {
    padding-right: 3px;
    font-size: 8px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-section1 {
    padding: 0rem;
    padding-right: 2rem;
  }
  .footer-section1 img {
    width: 100%;

    max-height: 100px;
  }
  .section1-text {
    font-size: 0.8rem;
  }
  .TravelersChoice {
    width: 75%;
  }

  .footer-section2 {
    padding: 0rem;
  }
  .opentable {
    padding: 0.2rem;
  }
  .face,
  .insta {
    width: 70%;
  }
  .face img,
  .insta img {
    width: 100%;
  }
  .media-text {
    font-size: 0.8rem;
  }
  .footer-section3 {
    padding: 0rem;
    padding-left: 3.5rem;
  }
  .img-section3 img {
    width: auto;
    max-height: 50px;
  }

  .img-section3.img-section3 {
    width: 70%;
  }
  /* .footer-section3.img-section3 img{width:70%;} */
}
/* endFooter */

/* media Querys */
@media only screen and (min-width: 1900px) {
  .main_container,
  .main_header,
  .main_container2,
  .main_container1,
  .main_container3,
  .main_container4,
  .main_container5,
  .main_container6,
  .main_container7 {
    width: 100%;
    max-width: 1900px;
    margin-left: calc(50% - 950px);
  }
}

/* patron */

.borderimage {
  display: none;
  width: 100%;
  height: auto;
  position: relative;
}
.contentimage {
  width: 100%;
  height: 20px;
  background-repeat: repeat;
  background-size: auto 100%;
  position: absolute;
  top: -19px;
  left: 0px;
  z-index: 0;
}
.contentimage-reves {
  width: 100%;
  height: 20px;
  background-repeat: repeat;
  background-size: auto 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
@media only screen and (min-width: 767px) and (max-width: 1200px) {
  .borderimage {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  .borderimage {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    position: relative;
  }
  .contentimage {
    width: 100%;
    height: 25px;
    background-repeat: repeat;
    background-size: auto 100%;
    position: absolute;
    top: -25px;
    left: 0px;
    z-index: 1;
  }
  .contentimage-reves {
    width: 100%;
    height: 25px;
    background-repeat: repeat;
    background-size: auto 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
  }
}
/* end patron */

/* icono wrapper */

.bookSectionWrapper {
  width: 100%;
  height: auto;
  position: relative;
}
.bookSection {
  /* position: absolute; */
  width: 90%;
  margin: auto;
  height: 115px;
  top: -50px;
  left: calc(50% - 80px);
  z-index: 0;
  display: flex;
  flex-direction: column;
}
.bookSection_arrowdown {
  position: relative;
  width: 100%;
  height: auto;
  display: none;
  justify-content: center;
}

.bookSection_arrowdown img {
  position: relative;
  bottom: -8px;
  display: block;
  z-index: 1;
  height: 20px;
}
.bookSection_content {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #ebd9cd;
  /* background-color: green;  */
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}
.bookSection_content .action {
  background-color: #fcf7e5;
  height: 30px;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.bookSection_content .description {
  background-color: white;
  flex: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.action {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.action img {
  width: auto;
}
.description {
  padding: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: normal;
}
.description a {
  font-weight: bold;
  font-size: 15px;
  color: #dd7c3b;
  font-family: "Open Sans", sans-serif;
}

@media only screen and (min-width: 1200px) {
  .bookSectionWrapper {
    display: block;
  }
  .bookSectionWrapper {
    width: 100%;
    height: auto;
    position: relative;
  }
  .bookSection {
    position: absolute;
    width: 320px;
    height: 200px;
    top: -100px;
    left: calc(50% - 150px);

    z-index: 2;
    display: flex;
    flex-direction: column;
  }
  .bookSection_arrowdown {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .bookSection_arrowdown img {
    position: relative;
    bottom: -2px;
    display: block;
    z-index: 1;
    height: 40px;
  }
  .bookSection_content {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .bookSection_content .action {
    height: 40px;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .bookSection_content .description {
    background-color: white;
    flex: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .action {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .description {
    padding: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .description a {
    padding-top: 5px;
    font-size: 15px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1200px) {
  .action img {
    width: 50%;
  }
  .bookSectionWrapper {
    display: block;
  }
  .bookSectionWrapper {
    width: 100%;
    height: auto;
    position: relative;
  }
  .bookSection {
    position: absolute;
    width: 320px;
    height: 200px;
    top: -80px;
    left: calc(50% - 150px);

    z-index: 2;
    display: flex;
    flex-direction: column;
  }
  .bookSection_arrowdown {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .bookSection_arrowdown img {
    position: relative;
    bottom: -2px;
    display: block;
    z-index: 1;
    height: 40px;
  }
  .bookSection_content {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .bookSection_content .action {
    height: 40px;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .bookSection_content .description {
    background-color: white;
    flex: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .action {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .description {
    padding: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .description a {
    padding-top: 5px;
  }
}
/* end icono wrapper */
