#modalReserva {
  align-items: flex-start;
  margin-top: 3px;
}
#modalReserva .modal {
  width: 300px;
  background: white;
  padding: 5px 5px;
  border-radius: 10px;
  text-align: left;
}
.modal-bg .content {
  background-color: white;
  width: 100%;
  margin: 0px auto;
}
@media only screen and (min-width: 1200px) {
  #modalReserva .modal {
    max-width: 500px;
    width: 100%;
  }
  #modalReserva {
    align-items: flex-start;
    margin-top: 10px;
  }
}
#modalReserva h3 {
  margin-top: 10px;
}
#modalReserva h3,
#modalReserva p {
  flex: 1;
  font-family: "Open Sans";
  padding: 5px;
  text-align: center;
}
/* title */
#modalReserva .title {
  display: flex;
  background-color: #1d1d1d;
  padding: 10px 5px;
  color: white;
  align-items: center;
}
#modalReserva .title img {
  width: 70px;
}
#modalReserva .title p {
  padding: 10px 5px;
}
#modalReserva .modal {
  padding: 5px 10px 20px;
}

/* inputs */
.formData {
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.formData select,
.formData input {
  padding: 5px;
}
.formData small {
  color: red;
  display: none;
}
.formData.Error small {
  display: block;
}

.formData.Error {
  justify-content: center;
  align-items: center;
  color: red;
  font-weight: bold;
  display: flex;
  text-align: center;
}

/* loader */
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0px auto;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #1d1d1d;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.formData.loader {
  text-align: center;
}
